.container {
  position: relative; }

.btn + .btn {
  margin-left: 1rem; }

.btn-white {
  background: #fff;
  color: inherit; }

.btn-black {
  background: #000;
  color: #fff; }

.btn {
  border-radius: 1.7rem;
}

.btn-social,
.btn-social:hover,
.btn-social:active,
.btn-social:focus {
  color: #fff; }

.display-1 {
  font-size: 4.3rem;
  margin-top: 3.9rem;
  margin-bottom: 2.8rem; }

.display-2 {
  font-size: 3.5rem;
  margin-top: 3.5rem;
  margin-bottom: 2.5rem; }

.display-3 {
  font-size: 2.8rem;
  margin-top: 3.2rem;
  margin-bottom: 2rem; }

.display-4 {
  font-size: 2.0rem;
  margin-top: 2.0rem;
  margin-bottom: 1.5rem; }

.subtitle {
  font-size: 1.5rem;
  margin-top: 1.0rem;
  margin-bottom: 1.5rem;
}

/**
 * TYPOGRAPHY
 */
body {
  font-family: "Alegreya Sans", sans-serif; }

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6,
.display-1, .display-2, .display-3, .display-4 {
  font-family: "Playfair Display", sans-serif; }


/**
 * HELPERS
 */
/* Colors */
.text-white {
  color: #fff !important; }

.text-black {
  color: #000 !important; }

/**
 * SECTIONS
 */
.section {
 position: relative;
 padding-top: 9rem;
 padding-bottom: 9rem;
 background-position: 50% 50%;
 background-repeat: no-repeat;
 background-size: cover;
}

.section--full {
 display: table;
 width: 100%;
 height: 100vh;
 padding-top: 0;
 padding-bottom: 0;

 .section-table-cell {
   position: relative;
   display: table-cell;
   vertical-align: middle;
   padding-top: 9rem;
   padding-bottom: 9rem; }
}

.section-small {
  padding-top: 4.5rem;
  padding-bottom: 4.5rem; }

.section-title {
  margin-top: 0; }

/**
 * NAVBAR
 */
.navbar-brand {
  margin-right: auto;
}

.navbar-items-wrapper {
  width: 100%;
  display: flex;
}

.logo-img {
  margin-right: 20px;
}

.collapse.navbar-collapse {
  width: auto;
}

/**
 * Page banner
 */
.page-banner {
  background-image: url('../img/img-sport-banner.jpg');
}

/**
 * Stats
 */
.item-wrapper {
  display: flex;
  .font(2rem, 1.5);
  margin-top: 2.0rem;
  margin-bottom: 1.5rem;

  .item {
    display: flex;
    margin-right: 2rem;

    .content {
      height: 100px;
      width: 100px;
      margin-right: 0.5rem;
      line-height: 100px;
      vertical-align: middle;
      background: url('../img/hex.png') no-repeat center;
      background-size: contain;
    }

    .sign {
      .font(1rem, 1);
    //  padding-top: 2rem;
      width: 100px;
    }
  }
}

/**
 * ABOUT COMPANY
 */
.about-info-text {
  .font(1.2rem, 1.5);
}

/**
 * SERVICES
 */
.card .card-img-top {
 width: 100%;
}

.card-block {
  background-color: #fff; }
 /**
  * REVIEWS
  */
.row.row-eq-height {
  margin-bottom: 2rem;

  [class^='col'] {
    display: flex;
  }
}

/**
 * PROGRAMMS
 */
.pic {
  display: flex;
  justify-content: center;
}

/**
 * POSTERS
 */
.img-sport-banner {
  height: 500px;
  background: no-repeat center;
  background-size: cover;

  &--woman {
    background-image: url('../img/poster-woman.jpg');
  }

  &--man {
    background-image: url('../img/poster-man.jpg');
  }
}
/**
 * INDIVIDUAL-PROGRAMMS
 */
 .individual {
   position: relative;
   padding-left: 97px;
   //border-left: 2px solid grey;

   .subtitle {
     margin-top: 0;
     padding-top: 30px;
   }
   p {
     margin-bottom: 0;
     padding-bottom: 20px;
   }
 }

.individual::before {
  content: '';
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  top: 32px;
  left: -32px;
  // border: 2px solid grey;
  // border-radius: 50%;
}

// .individual::after {
//   content: '';
//   display: block;
//   position: absolute;
//   width: 2px;
//   height: 64px;
//   top: 60px;
//   bottom: 0;
//   left: -97px;
//   background-color: black
// }

.individual--man::before {
  background-color: white;
  background: url('../img/man.png') no-repeat center top;
}

.individual--woman::before {
  background-color: white;
  background: url('../img/woman.png') no-repeat center top;
}

.individual--group::before {
  background: url('../img/both.png') no-repeat center top;
}

/**
 * CONTACTS
 */
.contact-item {
  padding-left: 30px;
  position: relative;

}

.contact-item i {
 position: absolute;
 left: 0;

 &.fa-map-marker {
   color: #0275d8;
   top: 3px;
 }

 &.fa-phone {
   top: 3px;
 }

 &.fa-mobile {
   top: 26px;
   left: 3px;
 }

 &.fa-envelope {
   top: 3px;
 }
}

#map {
 border-radius: 50%;
 overflow: hidden;
}

.form-wrapper {
 width: 100%;
}

.write-to-us  * {
 margin-bottom: 20px;
 border-radius: 4px;
 outline: none;
 border-style: none;
 border: 1px solid lightgrey;
 padding: 0 14px;
}

.write-to-us input:focus,
.write-to-us textarea:focus {
  border: 1px solid #0275d8;
}
